{"an-introduction-to-the-jmm-for-clojure-developers"
 {:title "An introduction to the Java Memory Model for Clojure developers"
  :description "An introduction to the Java Memory Model for Clojure developers"}
}
